style{
    *{
        margin: 0;
        padding: 0;
    }
    nav{
        background-color: black;
        color: blue;

        li,ul,h1{
            display: inline;
        }
           
        ul{
            margin-left: 50%;
        }
    }
}